body{
    background:#f8fafc;
    font-family:'Segoe UI';
}

.form-container{

    width:600px;

    margin:50px auto;

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:
    0 5px 20px rgba(0,0,0,.1);
}

.form-container h2{
    margin-bottom:20px;
}

.form-group{
    margin-bottom:15px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
}

.form-group input,
.form-group select{

    width:100%;

    padding:12px;

    border:1px solid #ddd;

    border-radius:10px;
}

.btn-save{

    background:#22c55e;

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;
}