*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
    rgba(0,0,0,.5),
    rgba(0,0,0,.5)
    ),
    url('../img/background.jpg');

    background-size:cover;
    background-position:center;
}

.login-container{
    width:400px;

    background:#fff;

    padding:40px;

    border-radius:20px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.2);
}

.logo{
    width:90px;
    display:block;
    margin:auto;
    margin-bottom:15px;
}

.login-container h2{
    text-align:center;
    margin-bottom:25px;
    color:#0f172a;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

.input-group input{
    width:100%;
    padding:12px;

    border:1px solid #ddd;

    border-radius:10px;
}

.btn-login{
    width:100%;
    border:none;

    background:#2563eb;

    color:white;

    padding:12px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

.btn-login:hover{
    background:#1d4ed8;
}
