table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

table th{
    background:#0d6efd;
    color:white;
    padding:12px;
}

table td{
    padding:10px;
    border-bottom:1px solid #ddd;
}

table tr:hover{
    background:#f5f5f5;
}

a{
    text-decoration:none;
}

.btn{
    padding:6px 10px;
    border-radius:5px;
    color:white;
}

.detail{
    background:#17a2b8;
}

.edit{
    background:#ffc107;
    color:black;
}

.hapus{
    background:#dc3545;
}